<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLinkActive="active" 
                        routerLink="/">Music App</a>

    <div class="collapse navbar-collapse">

      <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link" routerLinkActive="active" 
                                routerLink="playlists">Playlists</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" routerLinkActive="active" 
                                routerLink="music">Search Music</a>
          </div>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>